:root {
    --bg-color: #14120b;
    --text-white: #edecec;
    --text-black: #1b1913;
    --btn-bg-color: #fff;
    --card-bg-color: #1b1913;
    --border-color: #45433e;

    --text-grey: #9a9996;
    --accent-orange: #ff560e;
    --brown-hover-color:#2e2b23;
    --white-hover-color:#d7d6d5;
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "CursorGothic";
    src:
        url("./CursorGothic-main/fonts/CursorGothic-Regular.woff2") format("woff2"),
        url("./CursorGothic-main/fonts/CursorGothic-Bold.woff2") format("woff2"),
        url("./CursorGothic-main/fonts/CursorGothic-BoldItalic.woff2") format("woff2"),
        url("./CursorGothic-main/fonts/CursorGothic-Italic.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--bg-color);
    font-family: 'CursorGothic';
}

/* ===== NAVBAR ===== */

.navbar {
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
    font-size: 1rem;
    color: var(--text-white);
}

.right-section {
    display: flex;
    gap: 10px;
}

.btn1 {
    height: 30px;
    width: 70px;
    border-radius: 20px;
    background-color: #1b1913;
    color: var(--text-white);
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.btn2 {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: var(--btn-bg-color);
    color: var(--text-black);
    cursor: pointer;
}

.btn2:hover {
    background-color: #d7d6d5;
}

.mid-section {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.logo {
    width: 7rem;
}

/* ===== HERO ===== */

.hero-section {
    width: 80%;
    margin: 20px auto;
    font-size: 1.5rem;
}

.hero-section p {
    color: var(--text-white);
}

.hero-section button {
    margin-top: 30px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    color: var(--text-black);
    font-size: 1.2rem;
}

.hero-section img {
    margin-top: 40px;
}

/* ===== COMPANY LOGOS ===== */

.company-logos-section {
    width: 80%;
    margin: 40px auto;
}

.company-logos-section p {
    text-align: center;
    color: var(--text-white);
}

.logo-rows {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
}

.logo-rows img {
    height: 60px;
    width: 120px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--card-bg-color);

}
.logo-rows img:hover{
    background-color: var(--brown-hover-color);
}

/* ===== FEATURE BLOCKS ===== */

.feature-section {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.block1, .block3 {
    background-color: var(--card-bg-color);
    display: flex;
    padding: 20px;
    
}
.feature-section > *:hover{
    background-color: var(--brown-hover-color);
}

.block2 {
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}

.block1 .left-section,
.block2 .left-section,
.block3 .left-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    font-size: 1.3rem;
}

.block2 .left-section {
    padding-left: 20px;
}

.child1 { color: var(--text-white); }
.child2 { color: var(--text-grey); }
.child3 {
    color: var(--accent-orange);
    font-size: 1rem;
    margin-top: 10px;
}

.block1 .right-section,
.block2 .right-section,
.block3 .right-section {
    width: 70%;
}

.block1 .right-section img,
.block2 .right-section img,
.block3 .right-section img {
    width: 100%;
}

/* ===== FEATURE CARDS ===== */

.feature-cards-section {
    width: 80%;
    margin: 50px auto;
    font-size: 1rem;
}

.feature-cards-section .child1 {
    text-align: center;
    color: var(--text-white);
    font-size: 1.5rem;
}

.feature-cards-section .row1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature-cards-section .row1 .card {
    margin-top: 50px;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    color: var(--text-white);
    margin-bottom: 10px;
    border-radius: 5px;
}


.bottom-part {
    margin-top: 100px;
    display: flex;
    gap: 10px;
    color: var(--text-grey);
}

.bottom-part b {
    color: var(--text-white);
}

/* ===== TESTIMONIALS ===== */

.testimonials {
    width: 80%;
    margin: 50px auto;
    font-size: 1.1rem;
    color: var(--text-white);
}

.testimonials .row {
    display: flex;
    justify-content: space-between;
}

.testimonials .row .card {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 31%;
    background-color: var(--card-bg-color);
    padding: 10px;
    border-radius: 2px;
}
.testimonials .row .card:hover{
    background-color: var(--brown-hover-color);
}

.testimonials h1 {
    font-size: 1.5rem;
}

.testimonials img {
    border-radius: 5px;
}

.testimonials .row .child2 {
    color: var(--text-grey);
}

.testimonials .row .child3 {
    color: var(--accent-orange);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
}

/* ===== CHANGE LOG ===== */

.change-log {
    width: 80%;
    margin: auto;
    color: var(--text-white);
    font-size: 1.5rem;
}

.log-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.log-cards {
    height: 60px;
    background-color: var(--card-bg-color);
    padding: 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.log-cards:hover{
    background-color: var(--brown-hover-color);
}

.log-cards :nth-child(2) {
    margin-top: 15px;
}

.orange {
    color: var(--accent-orange);
    font-size: 1rem;
    margin-top: 20px;
}

/* ===== TEAM ===== */

.team-section {
    width: 80%;
    margin: 80px auto;
    color: var(--text-white);
    font-size: 1.5rem;
}

.team-section button {
    margin-top: 30px;
    width: 120px;
    padding: 10px;
    height: 40px;
    border-radius: 20px;
    color: var(--text-black);
    font-size: 1rem;
}

.team-section img {
    margin-top: 50px;
    border-radius: 5px;
}

/* ===== HIGHLIGHT ===== */

.highlight-section {
    background-color: var(--card-bg-color);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.highlight-card {
    background-color: #26241e;
    padding: 20px;
    border-radius: 4px;
    width: 35rem;
}
.highlight-card:hover{
    background-color: var(--brown-hover-color);
}

.highlight-card :nth-child(1) {
    color: var(--text-white);
}

.highlight-card :nth-child(2),
.highlight-card :nth-child(3) {
    color: var(--text-grey);
}

.highlight-card :nth-child(3) {
    margin-top: 20px;
}

/* ===== TRY SECTION ===== */

.try-section {
    background-color: var(--bg-color);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.try-section h1 {
    color: var(--text-white);
    font-size: 4rem;
}

.try-section button {
    margin-top: 30px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    color: var(--text-black);
    font-size: 1.2rem;
}

.try-section button:hover{
    background-color: var(--white-hover-color);
}
/* ===== FOOTER ===== */

footer {
    background-color: var(--card-bg-color);
    height: 400px;
    display: flex;
    flex-direction: column;
    color: var(--text-white);
}

.list-row {
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: space-evenly;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-row ol li {
    cursor: pointer;
}

.list-row ol :nth-child(1) {
    color: var(--text-grey);
    cursor: auto;
}

/* ===== COPYRIGHT ===== */

.copyright {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.copyright .left {
    gap: 20px;
    display: flex;
}

.copyright .right {
    display: flex;
    gap: 20px;
}

.copyright .right .group button {
    width: 28px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}
